[submodule "modules/rusty-bolt"]
	path = modules/rusty-bolt
	url = git@github.com:HarkonenBade/rusty-bolt.git
[submodule "modules/cbindgen"]
	path = modules/cbindgen
	url = git@github.com:HarkonenBade/cbindgen.git
[submodule "modules/chrono"]
	path = modules/chrono
	url = git@github.com:HarkonenBade/chrono.git
